/* Global */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: #282c34;
  color: white;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  overflow-y: scroll;
}

#root {
  background: #282c34;
  min-height: 100vh;
}

/* Map Display */
.globe-display-container {
  width: 100%;
  height: 500px;
  display: flex;
  background: #282c34;
  position: relative;
}